/*Normal elements*/
.principal {
  cursor: default;
}

.mapa h2, .mapa p {
  cursor: default;
}

.beneficios {
  cursor: default;
}

.copywrite {
  cursor: default;
}


/*For Bootstrap Creations*/
.bg-lilac {
  background-color: rgb(219, 174, 240);
}

.bg-hover-lilac:hover {
  background-color: rgb(219, 174, 240) !important;
  transition: 0.2s all;
}

.bg-hover-purple:hover {
  background-color: rgb(170, 104, 184) !important;
  transition: 0.8s all;
}

.bg-hover-light:hover {
  background-color: white !important;
  transition: 0.8s all;
}

.color-hover-light:hover {
  color: white !important;
  transition: 0.8s all;
}

.gradient {
  background: linear-gradient(rgb(201, 157, 241), #fefefe);
}