.bg-lilac {
  background-color: rgb(219, 174, 240);
}

.bg-hover-light:hover {
  color: white !important;
  transition: 0.8s all;
}

.gradient {
  background: linear-gradient(rgb(201, 157, 241), #fefefe);
}